html {
    font-family: "GFS Didot";
    font-size: 1.25rem;
}
  
* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.footer-container {
   background: #fff1f0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
   padding: 50px 0;
}

.footer-container img {
    transform: scale(0.8);
}

.socmed-container {
    margin-top: 6px;
}

.fa {
    text-align: center;
    font-size: 1.5rem;
    width: 60px;
    padding: 15px 0;
    border-radius: 50%;
}

.fa-facebook, .fa-twitter, .fa-google, .fa-instagram, .fa-pinterest {
    background: white;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}
  
.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}
  
.fa-google:hover {
    background: #dd4b39;
    color: white;
}
  
.fa-instagram:hover {
    background: #125688;
    color: white;
}
  
.fa-pinterest:hover {
    background: #cb2027;
    color: white;
}

@media (max-width: 330px) {
    .fa {
        width: 50px;
        padding: 12.5px 0;
    }
}