@import url(./header.css);
@import url(./footer.css);

html {
  font-family: "GFS Didot";
  font-size: 1.25rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
body {
  background-image: url(./img/Sprinkle.svg);
}

.headerContainer {
  margin-top: 90px;
}

.header {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
}

.header h2 {
  font-size: 2rem;
  margin-bottom: 2px;
}

.header p {
  font-size: 0.85rem;
}

.item-section {
  max-width: 1440px;
  margin: auto;
  padding: 1rem 1rem 4rem 1rem;
  background-color: white;
  overflow: hidden;
}

.item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.item-title {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.item-title h1 {
  font-weight: lighter;
}

.hover {
  cursor: pointer;
}

.item-contents {
  display: flex;
  gap: 1rem;
  transition: transform 500ms;
}

.item-contents p {
  font-size: 0.825rem;
}

.item {
  max-width: 264px;
}

.item-img {
  max-width: 264px;
  min-height: 300px;
  margin-bottom: 0.825rem;
}

.item-img img {
  max-width: 264px;
  min-height: 300px;
  transition: transform 400ms;
}

.item-img img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.item-name {
  margin-bottom: 1.5rem;
}

.item-description p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 0px) {
  .header p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 360px) {
  .header p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 400px) {
  .header p {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 760px) {

}

@media screen and (min-width: 1200px) {

}

@media (max-width: 400px) {

}
