@import url(./header.css);
@import url(./footer.css);
html {
    font-family: "GFS Didot";
    font-size: 1.25rem;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-image: url(./img/Sprinkle.svg);
}

.delete-comment button {
    border: none;
    background-color: white;
    width: 15px;
    padding: 0;
}

.headerContainer {
    margin-top: 85px;
}

.header {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
}

.header h2 {
    font-size: 2rem;
    margin-bottom: 2px;
}

.header p {
    font-size: 0.85rem;
}

.item-section {
    max-width: 1440px;
    margin: auto;
    padding: 1rem 1rem 4rem 1rem;
    background-color: white;
    overflow: hidden;
}

.item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.item-title {
    font-size: 1.25rem;
}

.item-title a {
    color: rgb(100, 240, 100);
    text-decoration: underline;
}

.item-title i {
    color: rgb(100, 240, 100);
    margin-right: 0.5rem;
    font-size: 0.825rem;
}

.item-title h1 {
    font-weight: lighter;
}

.hover {
    cursor: pointer;
}

.item-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    justify-items: center;
    gap: 1rem;
}

.item-contents p {
    font-size: 0.825rem;
}

.item {
    width: 264px;
}

.item-img {
    width: 264px;
    height: 300px;
    margin-bottom: 0.825rem;
}

.item-img img {
    width: 264px;
    height: 300px;
}

.item-img img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.item-name {
    margin-bottom: 1.5rem;
}

.item-description {
    min-height: 89px;
}

.item-description p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-price p {
    color: rgb(2, 184, 2);
}

.modal {
    display: none;
    background-color: rgb(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 999;
    padding: 1.5rem;
}

.modal-exit {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    margin: auto;
}

.modal-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
}

.bottom-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-delete {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

.offer-delete i {
    font-size: 1rem;
    width: fit-content;
    padding: 0;
    color: red;
}

.offer-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-img {
    margin: auto;
}

.modal-review {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 100%;
    background-color: white;
}

.admin-modal-title-container,
.admin-modal-description,
.admin-modal-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.admin-modal-title-container button,
.admin-modal-description button,
.admin-modal-price button {
    border: none;
    background-color: white;
    width: 15px;
    padding: 0;
    margin-left: 0.5rem;
}

.admin-modal-title-container button i,
.admin-modal-description button i,
.admin-modal-price button i {
    font-size: 0.625rem;
}

.modal-title,
.modal-description,
.modal-price {
    width: 100%;
    word-break: break-word;
}

.modal-title-container {
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 1rem;
}

.modal-comments {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
}

.comment {
    display: flex;
    margin-bottom: 1rem;
}

.img-comment img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.comment-content {
    flex: 1;
}

.name-comment {
    font-weight: bold;
    font-size: 0.825rem;
    margin-bottom: 0.125rem;
}

.text-comment {
    font-size: 0.675rem;
    width: 100%;
    display: inline-block;
}

.delete-comment form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.delete-comment button {
    border: none;
    background-color: white;
    width: 15px;
    padding: 0;
}

.delete-comment i {
    width: 15px;
    padding: 0;
    margin-left: 0.175rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
}

.modal-description-container {
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
    border-top: 1px solid rgb(214, 214, 214);
    padding: 1rem;
}

.modal-description-container p {
    font-size: 0.825rem;
}

.modal-price {
    color: rgb(2, 184, 2);
}

.description-buttons {
    display: flex;
}

.description-buttons i {
    font-size: 1.375rem;
    margin-right: 0.5rem;
}

.modal-comment-box {
    display: flex;
    width: 100%;
}

.modal-comment-box input {
    border: none;
    outline: none;
    border-top: 1px solid rgb(214, 214, 214);
    width: 80%;
    padding: 0.825rem 0 0.825rem 1.25rem;
}

.modal-comment-box button {
    border: none;
    outline: none;
    border-top: 1px solid rgb(214, 214, 214);
    background-color: white;
    width: 20%;
    padding: 0.825rem 0 0.825rem 0;
}

.description-buttons button {
    padding: 0;
    border: none;
    background: none;
}

.heart-button .fas {
    color: red;
}

.heart-number {
    font-weight: bold;
    font-size: 0.75rem;
}

@keyframes like {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 0px) {
    .header p {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 360px) {
    .header p {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 400px) {
    .header p {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1024px) {
    .modal-content {
        height: 62.5%;
    }
    .modal-title {
        font-size: 1.25rem;
    }
    .modal-description-container p {
        font-size: 0.625rem;
    }
    .modal-description-container i {
        font-size: 1.125rem;
    }
    .modal-comment-box input {
        padding: 0.5rem 0 0.5rem 1rem;
    }
    .modal-comment-box button {
        padding: 0.5rem 0 0.5rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .modal-content {
        flex-direction: column;
        height: 80%;
    }
    .modal-img-container {
        width: 100%;
    }
    .modal-review {
        max-width: 100%;
        width: 100%;
    }
    .modal-title-container {
        padding: 0.5rem;
    }
    .modal-description-container {
        gap: 0.5rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 425px) {
    .modal-comment-box {
        flex-direction: column;
        align-items: center;
    }
    .modal-comment-box input {
        width: 100%;
    }
     ::-webkit-input-placeholder {
        text-align: center;
    }
     :-moz-placeholder {
        text-align: center;
    }
    .modal-comment-box button {
        width: 100%;
    }
}