@import url(./header.css);

html {
  font-family: "GFS Didot";
  font-size: 1.25rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.headerContainer {
  margin-top: 90px;
}

.header {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
}

.header h2 {
  font-size: 2rem;
  margin-bottom: 2px;
}

.header p {
  font-size: 0.85rem;
}

.galleryContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px auto 60px auto;
}

.imagesDiv {
  width: 490px;
  height: 490px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  overflow: hidden;
}

.imagesDiv img {
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.imagesDiv img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 1760px) {
  .imagesDiv {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 1550px) {
  .imagesDiv {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .imagesDiv {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 1120px) {
  .imagesDiv {
    width: 600px;
    height: 600px;
  }
}

@media only screen and (max-width: 960px) {
  .navmenu {
    margin: 0;
    width: 85%;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .navmenu a {
    margin: 6px 0;
  }

  .dropdown {
    display: block;
    margin-left: 60%;
  }

  .header p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .navmenu {
    width: 90%;
  }
  .imagesDiv {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .imagesDiv {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (min-width: 961px) {
  .navmenu {
    display: block !important;
  }

  .navmenu a {
    margin-right: 16px;
  }
}
