@import url(./header.css);
@import url(./footer.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./img/Sprinkle.svg);
}
main {
  margin: 125px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  min-height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  background-color: bisque;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile-pic input {
  display: none;
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: white 4px solid;
  border-radius: 100px;
  z-index: 0;
}
.-label {
  background-color: transparent;
  cursor: pointer;
  height: 150px;
  width: 150px;
}
.-label i {
  margin-right: 10px;
}
.-label:hover {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: white;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.name {
  margin-top: 10px;
}
.infobox {
  margin-top: 20px;
  font-size: 18px;
  width: 80%;
}
.infobox small {
  font-size: 14px;
}
.description-box {
  position: relative;
  color: black;
}
.description-box textarea {
  border: none;
  border-radius: 5px;

  margin-top: 20px;
  padding: 20px;
  height: 100px;
}
.description-box small {
  position: absolute;
  font-size: 12px;
  top: 25px;
  left: 5px;
}
